.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.navBar .active {
  border-bottom: 1px solid black;
}

.navBar.dark .active {
  border-bottom: 1px solid #d2b071;
}

a > .iconZT {
  height: 70%;
  width: 70%;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 0.5em;
  list-style: none;
}

ul > li > a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.navBar.dark ul > li > a {
  color: #d2b071; /* Couleur pour le mode sombre */
}

.lightIcon {
  height: 2em;
  width: 2em;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  a > .iconZT {
    height: 40%;
    width: 40%;
  }

  ul {
    gap: 1.5em;
    margin: 2.5%;
  }
}

@media screen and (min-width: 1440px) {
  a > .iconZT {
    height: 50%;
    width: 50%;
  }

  ul {
    gap: 1.5em;
    margin-right: 5%;
  }
}
